.title-header {
    font-size: 24px;
    font-family: Montserrat;
    text-align: center;
    margin: auto;
}
.title-subheader {
    font-size: 12px;
    font-family: Montserrat;
    text-align: center;
    margin: auto;
}
ol.names-list {
    color: rgb(50, 50, 50);
    list-style-type: decimal;
    li.name-item {
        margin-bottom: 20px;
        font: 20px Montserrat, sans-serif;
    }

}
