<div class="title-header"> League Members </div>
<div class="title-subheader"> and Draft Order </div>
<ol class="names-list" >
    <li class="name-item" *ngFor="let name of names; let i=index">
        <span> {{ name }} </span>
    </li>
</ol>