<mat-card class="dashboard-card">
    <mat-toolbar color="primary" > 
        <span>Tournament Results</span>
    </mat-toolbar> 
        <!-- </mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="flex-container">
        DRAFTING
    </mat-card-content>
</mat-card>