<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>{{ $teamName | async }}'s Team</span>
    </mat-toolbar>
    <mat-card-content class="flex-container">
        <ng-container *ngFor="let weight of all_weights">
            <ng-container *ngIf="($wrestlers | async | getMyWrestlerByWeight : weight) as wrestler; else summary">
                <app-league-my-wrestler-card [wrestlerId]="wrestler.wrestlerId" (bracketSelect)="openBracket(weight)"></app-league-my-wrestler-card>
            </ng-container>

            <ng-template #summary>
                <app-league-bracket-summary [weight]="weight" (bracketSelect)="openBracket(weight)">
                </app-league-bracket-summary>
            </ng-template>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-card-content>
</mat-card>