.wrestler-card {
    padding-top:0;
    padding-left: 0;
    padding-right:0;
    overflow: hidden;
}

.at-bottom {
    position: absolute;
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
    background-color: white;
    z-index: 10;
}
.security-message {
    color: #900000;
    font-family: Montserrat;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
}

:host {
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}