<ng-container *ngIf="$myInfo | async as me">
    <mat-card class="wrestler-card" >
        <mat-card-content>
            <app-wrestler-details [id]="wrestlerId"></app-wrestler-details>
        </mat-card-content>
    </mat-card>
    
    <ng-container *ngIf="($selectedWrestlers | async)?.indexOf(wrestlerId) < 0">
        <ng-container *ngIf="($currentTeamWeights | async)?.indexOf(wrestler.weight) >= 0; else showSelectionBar">
            <div class="at-bottom security-message">
                You already have someone at this weight!
            </div>
        </ng-container>
        <ng-template #showSelectionBar>
            <div *ngIf="$selectionUser | async as user" class="at-bottom">
                <button mat-raised-button color="accent" [disabled]="! ($isMyTurn | async)" (click)="selectForMe(me.name)">SELECT NOW!</button>
                <button mat-raised-button color="accent" *ngIf="($isAdmin | async)" (click)="selectForUser(user.name, me.name)">SELECT FOR {{ user?.name }}</button>
            </div>        
        </ng-template>
    </ng-container>
</ng-container>
