.team-link {
    color: #465277;
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
}

:host.font-11 .team-link {
    font-size: 11px;
}

:host.font-12 .team-link {
    font-size: 12px;
}

:host.font-13 .team-link {
    font-size: 13px;
}

:host.font-14 .team-link {
    font-size: 14px;
}

:host.font-22 .team-link {
    font-size: 22px;
}

.team-link:hover {
    color: #749ee0;
    text-decoration: underline;
}