<form [formGroup]="addPlayerForm" (ngSubmit)="addPlayer()" class="signup-form">
    <div class="form-title">Add a participant to the Draft</div>
    <div fxLayout="column">
        <mat-form-field>
            <input type="text" matInput formControlName="playerName" [placeholder]="'Participant Name'" />
            <mat-error *ngIf="playerName.invalid && playerName.dirty">
                <span translate>
                    Participant Name must be between 3 and 24 chars
                </span>
            </mat-error>
        </mat-form-field>
        <button class="create-button" mat-raised-button color="primary" type="submit" [disabled]="addPlayerForm.invalid">
            <span translate>Add Participant</span>
        </button>
    </div>
</form>
<div class="all-names">

    <div class="title-header"> League Members </div>
    <ol class="names-list" >
        <li class="name-item" *ngFor="let name of names; let i=index">
            <span> {{ name }} </span>
        </li>
    </ol>
</div>