.tab-wrestler-info-type {
     ::ng-deep .mat-tab-label {
        min-width: 50%;
    }
}
.login-error-container {
    width: 100%;
    text-align: center;
    .login-error {
        font-family: Montserrat;
        font-size: 13px;
    }
}
.mat-error {
    font-family: Montserrat;
}

.signup-form {
    background-color: white;
    padding : 20px;
    .form-title {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }

    .create-button {
        margin-top: 20px;
    }
}

.all-names{
    border: solid 1px #c7c7c7;
    max-height: 400px;
    overflow: scroll;
    .title-header {
        font-size: 20px;
        font-family: Montserrat;
        text-align: center;
        margin: auto;
    }
    .title-subheader {
        font-size: 12px;
        font-family: Montserrat;
        text-align: center;
        margin: auto;
    }
    ol.names-list {
        color: rgb(50, 50, 50);
        list-style-type: decimal;
        li.name-item {
            margin-bottom: 12px;
            font: 12px Montserrat, sans-serif;
        }
    
    }
}
