<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
    <div fxHide.gt-sm fxLayoutAlign="start center">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
        <span class="title">{{title}}</span>
    </div>
    <div fxHide.lt-md>
        <a class="brand" href="https://highcrotch.com" translate>APP_NAME</a>
         <button mat-button routerLink="/leagues" routerLinkActive="active">
            <i class="fa fa-home"></i>
            <span translate>Leagues</span>
        </button> 
        <button mat-button routerLink="/history" routerLinkActive="active">
            <i class="fa fa-home"></i>
            <span translate>History</span>
        </button>
        <button mat-button routerLink="/about" routerLinkActive="active">
            <i class="fa fa-question-circle"></i>
            <span translate>About</span>
        </button>
    </div>
    <span fxFlex></span>

    <!-- <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
            {{language}}
        </button>
    </mat-menu>
     -->
    <div *ngIf="$isLoggedIn | async">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <mat-list>
                <mat-list-item>
                    <span translate>Logged in as</span>&nbsp;
                    <b>{{ $displayName | async }}</b>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
        </mat-menu>
    </div>
    <div *ngIf="!($isLoggedIn | async)">
        <button mat-icon-button [matMenuTriggerFor]="loginMenu">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #loginMenu="matMenu">
            <button mat-menu-item (click)="login()" translate>Login</button>
        </mat-menu>
    </div>
</mat-toolbar>