<mat-card class="all-american-card">
    <mat-card-header>
        <mat-card-title>ALL AMERICANS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="content" *ngFor="let wrestler of wrestlers; let i = index">
            <div class="header-info">
                <span class="place">{{i +1 | ordinal}}</span>
                <span class="wrestler-link">
                    <app-wrestler-link class="font-14" [id]="wrestler?.global_pid">{{wrestler?.first_name}} {{wrestler?.last_name}}</app-wrestler-link>
                </span>
            </div>
            <div class="wrestler-info">
                <span class="team">{{wrestler?.team}}</span>
                <span class="record">{{wrestler?.wins}}-{{wrestler?.losses}}</span>
            </div>
        </div>

    </mat-card-content>
</mat-card>