.mat-card-title {
    font-weight: 600;
    padding: 17px 0px 2px 0px;
}

.content {
    padding-bottom: 10px;
}

.wrestler-info {
    padding-left: 20px;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
}

.header-info {
    white-space: nowrap;
    overflow: hidden;
}

::ng-deep .all-american-card.mat-card {
    margin: 0;
    padding: 0;
     ::ng-deep .mat-card-header-text {
        margin: auto !important;
    }
     ::ng-deep .mat-card-header {
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
        color: white;
        background: #2196f3
    }
     ::ng-deep .mat-card-content {
        padding: 34px;
    }
}

:host {
    text-align: left;
}

@media screen and (max-width: 699px) {
     ::ng-deep .all-american-card.mat-card {
         ::ng-deep .mat-card-content {
            padding: 5px;
        }
    }
}