.dashboard-card {
    padding:0;
}

.example-spacer {
    flex: 1 1 auto;
}

.my-leagues {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    .league-card {
        padding: 10px;
    }
}