<mat-card class="dashboard-card" *ngIf="$myInfo | async; let myInfo">
    <!-- <mat-card-header> -->
        <mat-toolbar color="warn">
            <span>{{ myInfo.name }}'s Dashboard</span>
            <span class="example-spacer"></span>
            <button mat-fab color="warn" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                <button mat-menu-item (click)="findLeague()"> 
                        <mat-icon>search</mat-icon>
                        <span>Join League</span>
                    </button>
                <button mat-menu-item (click)="createLeague()">
                        <mat-icon>build</mat-icon>
                        <span>Create New League</span>
                    </button>
            </mat-menu>
        </mat-toolbar>
    <!-- </mat-card-header> -->
    <mat-card-content>
        <div class="my-leagues">
            <ng-container *ngFor="let league of $leagues | async | values">
                <app-league-card class="league-card" 
                    [league]="league" 
                    [myId]="($myInfo | async)?.id" 
                    [draftSetup]="getDraftSetup($draftsSetup | async, league.leagueKey)">
                </app-league-card>    
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>