$font-stack: proxima-nova,
proxima-nova-1,
proxima-nova-2,
"Proxima Nova",
arial,
helvetica,
sans-serif;
.wrestler {
    display: grid;
    grid-gap:1%;
    grid-template-columns: 8% 40% 37% 15%;
    align-items: end;
    height: 18px;
    border-bottom: 1px solid #000;
    padding-right: 10px;
    .seed {
        font-size: 10px;
        color: #999;
        text-align: left;
        transition: .2s;
    }
    .hidden {
        visibility: hidden;
    }
    .wrestler-link {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .record {
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .school {
        font-weight: 300;
        font-size: 12px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        &:empty {
            display: none;
        }
    }
}
@media screen and (max-width: 775px) and (min-width: 651px) {
    .wrestler {
        grid-gap:0;
        grid-template-columns: 10% 70% 0% 20%;
        .school {
            visibility:hidden;
        }
    }
}
@media screen and (max-width: 650px) and (min-width: 520px) {
    .wrestler {
        grid-gap:0;
        grid-template-columns: 15% 85% 0% 0%;
        .school {
            visibility:hidden;
        }
        .record {
            visibility:hidden;
        }
    }
}
@media screen and (max-width: 519px) {
    .wrestler {
        grid-gap:0;
        grid-template-columns: 0% 90% 0% 0%;
        .seed {
            visibility:hidden;
        }
        .record {
            visibility:hidden;
        }
        .school {
            visibility:hidden;
        }

    }
}

.right-border {
    border-right: solid 1px;
}