<div class="wrestler" *ngIf="match?.topWrestler; let wrestler" [ngClass]="{'match-winner': match.winner==='top'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">({{wrestler.seed}})</span>
    <span class="wrestler-link">
        <app-wrestler-link class="{{linkClass}}" [id]="wrestler.global_pid">
            {{wrestler.first_name}} {{wrestler.last_name}}
        </app-wrestler-link>
    </span>
    <span class="school">
        <app-team-link class="{{linkTeamClass}}" [id]="wrestler.global_tid">
            {{wrestler.team}}
        </app-team-link>
    </span>
    <span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
</div>

<div class="wrestler right-border" *ngIf="match?.bottomWrestler; let wrestler" [ngClass]="{'match-winner': match.winner==='bottom'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">({{wrestler.seed}})</span>
    <span class="wrestler-link">
        <app-wrestler-link class="{{linkClass}}" [id]="wrestler.global_pid">
            {{wrestler.first_name}} {{wrestler.last_name}}
        </app-wrestler-link>
    </span>
    <span class="school">
        <app-team-link class="{{linkTeamClass}}" [id]="wrestler.global_tid">
            {{wrestler.team}}
        </app-team-link>
    </span>
    <span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
</div>