<div class="wrestling-card">
    <mat-card>
        <mat-toolbar color="primary">
            <!--
                <app-user-graphic letter1="{{ league?.leagueName[0] }}" letter2="{{ league?.leagueName[1] }}"></app-user-graphic>
-->
            <mat-card-title>{{ league?.leagueName }}</mat-card-title>
        </mat-toolbar>
        <mat-card-content>
            <div>created by {{ league?.creator }}</div>
            <div *ngIf="!(league?.draftDate | dateHasHappened)">
                There are currently {{ league?.draftDate | dateDaysUntil }} days until the draft begins
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab color="accent" (click)="goToLeague()"><mat-icon>home</mat-icon></button>
            <button mat-mini-fab color="accent" (click)="viewParticipants()"><mat-icon>people</mat-icon></button>
            <!-- <button mat-mini-fab (click)="shareLeague()"><mat-icon>share</mat-icon></button> -->
            <button mat-mini-fab color="accent" *ngIf="isAdmin" (click)="draftAdd()"><mat-icon>person_add</mat-icon></button>
            <button mat-mini-fab color="accent" *ngIf="isAdmin" (click)="draftReorder()"><mat-icon>reorder</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>