.dashboard-card {
    padding:0;
}
.fill-remaining-space { 
  flex: 1 1 auto;
}

.wrestling-card {
  .mat-card{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    .mat-card-actions {
      padding: 5px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}