<div class="container">
    <mat-card>
        <h1>
            <mat-card-title translate>APP_NAME</mat-card-title>
        </h1>
        <mat-card-content>
            <mat-icon>code</mat-icon>V0.3
            <p>I'm just getting started, more fun stuff to come!</p>
        </mat-card-content>
    </mat-card>
</div>