<div class="title-header"> Create Draft Order </div>
<div class="title-subheader"> (drag and drop to rearrange) </div>
<ol [dragula]='"order"' [dragulaModel]='names' class='names-list'>
    <li *ngFor="let name of names; let i=index" class='name-item'>{{ name }}</li>
</ol> 
<div class="button-bar">
    <button class="create-button" mat-raised-button color="primary" (click)="saveSetup()">
        <mat-icon>save</mat-icon>
        <span translate>Save</span>
    </button>            
</div>
