@import "src/theme/theme-variables";
:host {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.dashboard-card {
    padding: 0;
    margin-bottom: 120px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.flex-item {
    width: 390px;
    margin: 10px 13px;
}

.flex-item-long {
    width: 95%;
    margin: 10px 13px;
}