<mat-card class="dashboard-card">
    <!-- <mat-card-header >
        <mat-card-title> -->
    <mat-toolbar color="warn">
        <span>{{ ($league | async)?.name }}</span>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <button mat-fab color="warn" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
        <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
            <ng-container *ngIf="($isDraftComplete | async); else draftSelectResults">
            </ng-container>
            <ng-template #draftSelectResults>
                <mat-checkbox [(ngModel)]="showStatusPanel" *ngIf="$isAdmin | async">Show Status Panel</mat-checkbox>
                <mat-checkbox [(ngModel)]="showDraftBoard">Show Draft Board</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="showMyTeam">Show My Team</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="showAllTeams">Show All Teams</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="showBracketSummary">Show Bracket Summary</mat-checkbox>
            </ng-template>
        </mat-menu>
    </mat-toolbar>
    <!-- </mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="flex-container">
        <ng-container *ngIf="($isDraftComplete | async); else draftResults">
            <app-league-standings class="standing-card flex-item" *ngIf="!isDrafting"></app-league-standings>
            <ng-container *ngIf="$myInfo | async as myInfo">
                <app-league-team [teamId]="myInfo.id" class="team-card flex-item" *ngIf="showMyTeam"></app-league-team>
            </ng-container>
            <!--
            <app-league-results class="results-card flex-item"></app-league-results>
            <app-league-draft-results class="draft-card flex-item"></app-league-draft-results>
            -->
        </ng-container>
        <ng-template #draftResults>
            <app-league-draft-status-panel class="status-panel flex-item-long" *ngIf="showStatusPanel && $isAdmin | async"></app-league-draft-status-panel>
            <app-league-draft class="draft-card flex-item" *ngIf="showDraftBoard"></app-league-draft>
            <ng-container *ngIf="$myInfo | async as myInfo">
                <app-league-team [teamId]="myInfo.id" class="team-card flex-item" *ngIf="showMyTeam"></app-league-team>
            </ng-container>
            <app-league-all-teams class="all-teams-card flex-item" *ngIf="showAllTeams"></app-league-all-teams>
            <app-league-brackets class="brackets-card flex-item" *ngIf="showBracketSummary"></app-league-brackets>
        </ng-template>
    </mat-card-content>
</mat-card>