<div class="header" mat-dialog-title>Hi {{myName}}</div>
<div class="content">
  <p>Are you sure you want to choose {{ wrestlerName }} </p>
  <p *ngIf="userName"> for {{ userName }} </p>
</div>
<div class="bottom-row">
  <button mat-raised-button color="warn" (click)="close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="close(true)" cdkFocusInitial>Ok</button>
</div>