.wrestler-link {

    color: #465277;
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

:host.font-11 .wrestler-link{ font-size: 11px; }
:host.font-12 .wrestler-link{ font-size: 12px; }
:host.font-13 .wrestler-link{ font-size: 13px; }
:host.font-14 .wrestler-link{ font-size: 14px; }

.wrestler-link:hover {
    color: #749ee0;
    text-decoration: underline;
}