<div fxHide>
    <!-- fxShow fxHide.sm fxHide.xs> -->
    <div class="container year-group">
        <mat-tab-group class="tab-group-years" [selectedIndex]="selectedYearIndex" (selectedIndexChange)="onYearClick($event)">
            <mat-tab label="{{year}}" *ngFor="let year of years"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="container weight-group">
        <mat-tab-group class="tab-group-weights" [(selectedIndex)]="selectedWeightIndex" (selectedIndexChange)="onWeightClick($event)">
            <mat-tab label="{{weight}}" (click)="setWeight(weight)" *ngFor="let weight of weights"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="container bracket-group">
        <mat-tab-group class="tab-group-bracket-type" [(selectedIndex)]="bracketType" (selectedIndexChange)="onBracketTypeClick($event)">
            <mat-tab label="Championship Bracket"></mat-tab>
            <mat-tab label="Consolation Bracket"></mat-tab>
            <mat-tab label="Placement Matches"></mat-tab>
        </mat-tab-group>
    </div>
</div>
<div class="select-nav" fxShow>
    <!-- fxHide fxShow.sm fxShow.xs> -->
    <mat-form-field>
        <mat-select placeholder="Year" [(value)]="selectedYearIndex">
            <mat-option *ngFor="let year of years; let i=index" [value]="i">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Weight" [(value)]="selectedWeightIndex">
            <mat-option *ngFor="let weight of weights; let i=index" [value]="i">
                {{weight}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Bracket" [(value)]="bracketType">
            <mat-option [value]="0">Championship Bracket</mat-option>
            <mat-option [value]="1">Consolation Bracket</mat-option>
            <mat-option [value]="2">Placement Matches</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="brackets">
    <app-bracket [year]="selectedYear" [weight]="selectedWeight" [bracketType]="bracketType"></app-bracket>
</div>