.container {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

.mat-card {
    width: 16%;
    float: left;
}

.weight {
    width: 10%;
    float: left;
}

.brackets {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 700px;
    max-width: 1000px;
    margin: auto;
}

::ng-deep .year-group {
     ::ng-deep .mat-tab-label {
        min-width: 20%;
    }
}

::ng-deep .weight-group {
     ::ng-deep .mat-tab-label {
        min-width: 10%;
    }
}

::ng-deep .bracket-group {
     ::ng-deep .mat-tab-label {
        min-width: 33%;
    }
}

.select-nav {
    padding: 10px 0 0 10px;
    display: grid;
    grid-template-columns: 32% 32% 33%;
    grid-gap: 1%;
     ::ng-deep .mat-form-field-infix {
        width: 100px;
    }
}

q {
    font-style: italic;
    quotes: "« " " »";
}