.region-champ {
    display: grid;
    grid-template-columns: 75% 5% 5% 5% 5% 5%;
    font-family: Montserrat;
    font-size: 14px;

    .round0 {
        grid-column: 1;
        padding-left: 8px;
    }
    .round1 {
        grid-column: 2;
    }
    .round2 {
        grid-column: 3;
    }
    .round3 {
        grid-column: 4;
    }
    .round4 {
        grid-column: 5;
    }
    .round-final {
        grid-column: 6;
    }
     ::ng-deep .round0 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 18px;
        }
         ::ng-deep .wrestler {
            height: 18px;
        }
    }
     ::ng-deep .round1 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 27px;
        }
         ::ng-deep .wrestler {
            height: 36px;
        }
    }
     ::ng-deep .round2 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 45px;
        }
         ::ng-deep .wrestler {
            height: 72px;
        }
    }
     ::ng-deep .round3 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 81px;
        }
         ::ng-deep .wrestler {
            height: 144px;
        }
    }
     ::ng-deep .round4 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 153px;
        }
         ::ng-deep .wrestler {
            height: 288px;
        }
    }
     ::ng-deep .round-final {
         ::ng-deep .wrestler {
            height: 297px;
        }
    }
}

