<div class="region region-champ">
    <section class="round round{{round}}" *ngFor="let round of rounds">
        <article [ngSwitch]="round" class="game" *ngFor="let match of bracket?.rounds[round].matches">
            <app-league-matchup *ngSwitchCase="0" [match]="match"></app-league-matchup>
            <app-simple-matchup *ngSwitchDefault [match]="match"></app-simple-matchup>
        </article>
    </section>
    <section class="round round-final">
        <article class="game">
            <div class="wrestler"></div>
        </article>
    </section>
</div>