<mat-tab-group class="tab-wrestler-info-type" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Join League" class="join-tab">
        <form [formGroup]="joinForm" (ngSubmit)="joinLeague()" class="signup-form">
            <div class="form-title">Join A League</div>
            <mat-error class="login-error-container" *ngIf="($joinStatus | async)?.status === statusEnum.Error">
                <span translate class="login-error">
                    League Name or Password was incorrect!
                </span>
            </mat-error>
            <div fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput formControlName="leagueName" [placeholder]="'League Name'" />
                    <mat-error *ngIf="joinLeagueName.invalid && joinLeagueName.dirty">
                        <span translate>
                            League Name must be between 6 and 24 chars
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput formControlName="password" [placeholder]="'League Password'" required/>
                    <mat-error *ngIf="joinPassword.invalid && joinPassword.touched">
                        <span translate>
                            League Password must be between 6 and 24 chars and have at least one number
                        </span>
                    </mat-error>
                </mat-form-field>
                <button class="create-button" mat-raised-button color="primary" type="submit" [disabled]="joinForm.invalid">
                    <span translate>Join League</span>
                </button>
            </div>
        </form>
    </mat-tab>
    <mat-tab label="Create New League" class="create-tab">
        <form [formGroup]="createForm" (ngSubmit)="createNewLeague()" class="signup-form">
            <div class="form-title">Create A New League</div>
            <div fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput formControlName="leagueName" [placeholder]="'League Name'" />
                    <mat-error *ngIf="leagueName.invalid && leagueName.dirty">
                        <span translate>
                            League Name must be between 6 and 24 chars
                        </span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput formControlName="password" [placeholder]="'League Password'" required/>
                    <mat-error *ngIf="password.invalid && password.touched">
                        <span translate>
                            League Password must be between 6 and 24 chars and have at least one number
                        </span>
                    </mat-error>
                </mat-form-field>
                <button class="create-button" mat-raised-button color="primary" type="submit" [disabled]="createForm.invalid">
                    <span translate>Create New League</span>
                </button>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>