.tab-wrestler-info-type {
     ::ng-deep .mat-tab-label {
        min-width: 50%;
    }
}
.login-error-container {
    width: 100%;
    text-align: center;
    .login-error {
        font-family: Montserrat;
        font-size: 13px;
    }
}
.mat-error {
    font-family: Montserrat;
}

.signup-form {
    background-color: white;
    padding : 20px;
    .form-title {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }

    .create-button {
        margin-top: 20px;
    }
}
