.title-header {
    font-family: Montserrat;
    font-size: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 93% 7%;
    background-color: #ffab40;
    padding-top: 5px;
    padding-bottom: 5px;
    .weight {
        text-align: center;
        width:100%;
    }
    .close {
        cursor: pointer;
    }
}
.dashboard-card {
    padding:0;
}
.fill-remaining-space { 
  flex: 1 1 auto;
}
.button-bar{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px #c7c7c7;
}

.flex-container {
  display: grid;
  grid-template-columns: 10% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
  grid-auto-flow: row;
  .grid-col-header{
    font-size: 18px;
    font-weight: 100;
    font-family: Montserrat;
    border: solid 1px #c7c7c7;
    text-align: center;
  }
  .grid-col-starter {
    font-size: 16px; 
    font-weight: 100;
    font-family: Montserrat;
    border: solid 1px #c7c7c7;
    overflow: hidden;
  }
  .grid-col-weight {
    border: solid 1px #c7c7c7;
    font-size: 14px; 
    font-weight: 100;
    font-family: Montserrat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .rank {
      font-size: 10px;
    }
  }
}
