<div class="title-header" color="accent"> 
    <span class="weight">{{ $leagueName | async }}</span>
    <span class="close" (click)="closeDialog()"><mat-icon>close</mat-icon></span>
</div>
<mat-card class="dashboard-card">
    <mat-card-content class="flex-container">
        <div class="grid-item grid-col-header"></div>
        <div class="grid-item grid-col-header" *ngFor="let weight of all_weights">
            {{ weight }}
        </div>                    
        <ng-container *ngFor="let team of ($teams | async)">
            <div class="grid-item grid-col-starter">{{ team.name }}</div>
            <div class="grid-item grid-col-weight" *ngFor="let weight of all_weights">
                <ng-container *ngIf="getWrestler(team, weight, ($draftedTeams | async)) as wrestler">
                    <div class="icon">
                        <span class="rank">{{ wrestler?.seed }}</span>
                        <span class="last-name">
                            {{ wrestler?.last_name }}
                        </span> 
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>       