<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>Bracket Summary</span>
    </mat-toolbar>
    <!-- </mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="flex-container">
        <ng-container *ngFor="let weight of all_weights"> 
            <app-league-bracket-summary   [weight]="weight" (bracketSelect)="openBracket(weight)">                    
            </app-league-bracket-summary>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-card-content>
</mat-card>