<div class="close-button">
    <button mat-mini-fab color="warn"><mat-icon>close</mat-icon></button>
</div>
<div class="all-weights">
    <div class="weight-class" *ngFor="let weight of allWeights">
        <app-weight-list class="weight-list" [weight]="weight" (select)="onSelect($event)"></app-weight-list>
    </div>
</div>
