.all-weights {
    display: flex;
    justify-content: space-between;
    .weight-class {
        flex: 9%;
    }

}
.weight-list {
    background-color: #c7c7c7;
    display: block;
}
:host {
    position: relative;
    .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}