<ng-container [ngSwitch]="$leagueState | async">
    <ng-container *ngSwitchDefault>
    </ng-container>
    <ng-container *ngSwitchCase="LeagueState.NewUser">
        <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-tabs">
            <app-league-search class="league-search"></app-league-search>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="LeagueState.HasLeague">
        <div fxFill fxLayout="column" fxLayoutAlign="center center" class="league-list mat-typography">
            <app-league-list class="league-list"></app-league-list>
        </div>
    </ng-container>
</ng-container>