<div class="summary-card">
    <div class="title-header item-weight">
        <button mat-raised-button color="warn" (click)="bracketSelect.emit()">
            {{ weight }}
        </button>
    </div> 
    <div class="item-title next-text">NEXT: </div>
    <div class="item-list" *ngFor="let wrestler of ($topThree | async)">
        <app-league-wrestler-link class="wrestler" [id]="wrestler.global_pid"> {{ wrestler.seed }} {{wrestler.last_name }}</app-league-wrestler-link>
    </div>
</div>
