.summary-card{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 18px 18px 18px;
    grid-auto-flow: column;

    border: solid 1px #c7c7c7;
    .title-header {
        text-align: center;
        font-family: Monserrat;
        font-size: 20px;
        padding:10px;
    }
    .item-weight {
        grid-column: 1;
        grid-row: 1/3;
        align-self: self-start;
    }

    .item-title {
        grid-column: 2;
        grid-row: 1/3;
        align-self: self-end;
    }

    .item-list {
        grid-column: 3;
        grid-row: auto;
    }

}