<mat-card class="wrestler-card">
    <mat-card-header>
        <div mat-card-avatar class="header-image" *ngIf="info.finish <= 10">10+</div>
        <mat-card-title>
            <span class="name">{{team.team}}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="finish">({{info.finish | ordinal}} in {{infoYear}})</span>
        </mat-card-subtitle>
        <mat-icon mat-close-icon></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="year-breakdown" *ngFor="let year of team.years | keys : 'desc'">
            <h2 mat-subheader>
                {{year}}
                <span class="year-details">
          {{team['years'][year].finish | ordinal}}
        </span>
            </h2>
            <div class="points">
                <span class="team-points">Points {{team.years[year].points.total_points}} = </span>
                <span>{{team.years[year].points.advancement_points}} (adv) + </span>
                <span>{{team.years[year].points.placement_points}} (place) + </span>
                <span>{{team.years[year].points.pin_points}} (pin)</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>