<section class="container" [ngClass]="{'is-me': draftUser.key === ($myUserKey | async), 'is-current': isCurrentUser($currentUser | async)}">
    <div class="icon-col">
        <ng-container *ngIf="isCurrentUser($currentUser | async); else showArrow">
            <button mat-mini-fab color="warn" (click)="playSelected.emit()"><mat-icon>play_arrow</mat-icon></button>
        </ng-container>
        <ng-template #showArrow>
            <ng-container *ngIf="isNextUser($nextUser | async)">
                <ng-container *ngIf="$isDirectionDown | async; else upArrow">
                    <button mat-icon-button color="warn"><mat-icon>arrow_downward</mat-icon></button>
                </ng-container>
                <ng-template #upArrow>
                    <button mat-icon-button color="warn"><mat-icon>arrow_upward</mat-icon></button>
                </ng-template>
            </ng-container>
        </ng-template>
    </div>

    <div class="grid-name">
        <app-league-team-link [teamId]="draftUser?.id">{{ draftUser?.name }}</app-league-team-link>
    </div>
    <div class="grid-recent">
        <span> Recent </span>
    </div>
    <div class="grid-wrestler" *ngFor="let draftedWrestler of ($draftedTeams | async | sort : 'draftedRound' : 'desc' | slice: 0: 3) ">
        <ng-container *ngIf="getWrestler(draftedWrestler?.wrestlerId) as wrestler">
            <span>Rnd{{draftedWrestler?.draftedRound }} - </span>
            <span>{{wrestler?.weight}} - </span>
            <span>#{{wrestler?.seed}} - </span>
            <span>
                <app-league-wrestler-link class="font-14" [id]="wrestler?.wrestler_id">
                    {{wrestler?.last_name}}
                </app-league-wrestler-link>
            </span>
        </ng-container>
    </div>
</section>