.dashboard-card {
    padding: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.container {
    border: #c7c7c7 solid 1px;
    display: grid;
    grid-template-rows: 12px 16px 16px 16px;
    grid-template-columns: 20% 30% 50%;
    text-align: center;
    font-family: Montserrat;
    align-items: stretch;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    .icon-col {
        grid-column: 1;
        grid-row: 1 / span 4;
        justify-self: start;
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .grid-name {
        width: 100%;
        height: 100%;
        text-align: left;
        grid-column: 2;
        grid-row: 1 / span 4;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: pre-wrap;
    }
    .grid-recent {
        text-align: center;
        grid-column: 3;
        grid-row: 1;
        justify-self: start;
        align-self: end;
        span {
            font-size: 10px;
        }
    }
    .grid-wrestler {
        text-align: left;
        grid-column: 3;
        justify-self: start;
        align-self: end;
        span {
            font-family: Montserrat;
            font-size: 14px;
        }
    }
}

.is-me {
    background-color: #ededed;
}

.is-current {
    background-color: #f8ab40;
}

.summary-card {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 18px 18px 18px;
    grid-auto-flow: column;
    border: solid 1px #c7c7c7;
    .title-header {
        text-align: center;
        font-family: Monserrat;
        font-size: 20px;
        padding: 10px;
    }
    .item-weight {
        grid-column: 1;
        grid-row: 1/3;
        align-self: self-start;
    }
    .item-title {
        grid-column: 2;
        grid-row: 1/3;
        align-self: self-end;
    }
    .item-list {
        grid-column: 3;
        grid-row: auto;
    }
}