<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>Draft Board</span>
        <span class="fill-remaining-space"></span>
        <span> Round {{ ( $currentRound | async ) }} </span>
    </mat-toolbar>
    <mat-card-content class="flex-container">
        <app-team-draft-summary *ngFor="let draftUser of ($draftUsers | async) | values | orderByDraft" [draftUser]="draftUser" (playSelected)="openDraftSelections()"></app-team-draft-summary>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>
<div class="button-bar">
    <button mat-raised-button color="warn" (click)="openDraftSelections()"><mat-icon>border_all</mat-icon>View All</button>
</div>
