<div class="title-header" color="accent"> 
    <span class="weight">{{ weight }} </span>
    <span class="close" (click)="closeDialog()"><mat-icon>close</mat-icon></span>
</div>
    
<app-league-bracket [weight]="weight"></app-league-bracket>
