.title-header {
    font-family: Montserrat;
    font-size: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 93% 7%;
    background-color: #ffab40;
    padding-top: 5px;
    padding-bottom: 5px;
    .weight {
        text-align: center;
        width:100%;
    }
    .close {
        cursor: pointer;
    }
}