/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

::ng-deep .mat-toolbar {
    font: 500 20px/32px Montserrat;
}