.dashboard-card {
    padding:0;
}
.fill-remaining-space { 
  flex: 1 1 auto;
}

.button-bar{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px #c7c7c7;
}

.flex-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}