<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>Admin Panel</span>
        <span class="fill-remaining-space"></span>
        <span></span>
    </mat-toolbar>
    <mat-card-content class="flex-container">
        <div class="flex-item">
            <button mat-raised-button color="warn"><mat-icon>play_circle_filled</mat-icon>Start Draft</button>
        </div>
        <div class="flex-item">
            <button mat-raised-button color="warn"><mat-icon>stop</mat-icon>End Draft</button>
        </div>
        <div class="flex-item">
            <button mat-raised-button color="warn" (click)="undoLastSelection()"><mat-icon>undo</mat-icon>Undo Last Selection</button>
        </div>
        <div class="flex-item" *ngIf="$users | async as users">
            <button mat-raised-button color="warn" (click)="removeDrafter(users)"><mat-icon>remove</mat-icon>Remove Drafter</button>
        </div>
        <div class="flex-item">
            <button mat-raised-button color="accent"><mat-icon>clear_all</mat-icon>Reset ENTIRE Draft</button>
        </div>
    </mat-card-content>
</mat-card>