.dashboard-card {
    padding:0;
}
.fill-remaining-space { 
  flex: 1 1 auto;
}
.button-bar{
  width: 100%;
  text-align: center;
  padding: 10px;
  border: solid 1px #c7c7c7;
}

.flex-container {
  display: grid;
  grid-template-columns: 30% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
  grid-auto-flow: row;
  .grid-col-header{
    font-size: 12px;
    font-weight: 100;
    font-family: Montserrat;
    border: solid 1px #c7c7c7;
    text-align: center;
  }
  .grid-col-starter {
    font-size: 16px; 
    font-weight: 100;
    font-family: Montserrat;
    border: solid 1px #c7c7c7;
    overflow: hidden;
  }
  .grid-col-weight {
    border-bottom: solid 1px #c7c7c7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
