<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>Team Summary</span>
    </mat-toolbar>
    <mat-card-content class="flex-container">
        <div class="grid-item grid-col-header"></div>
        <div class="grid-item grid-col-header" *ngFor="let weight of all_weights">
            {{ weight }}
        </div>
        <ng-container *ngFor="let team of ($teams | async)">
            <div class="grid-item grid-col-starter">
                <app-league-team-link [teamId]="team.id">{{ team.name }}</app-league-team-link>
            </div>
            <div class="grid-item grid-col-weight" *ngFor="let weight of all_weights">
                <ng-container *ngIf="getWrestler(team, weight, ($draftedTeams | async)) as wrestler; else showDash">
                    <app-league-wrestler-link [id]="wrestler?.wrestlerId">
                        <div class="icon">{{ wrestler?.wrestlerRank }}</div>
                    </app-league-wrestler-link>
                </ng-container>
                <ng-template #showDash>-</ng-template>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>
<div class="button-bar">
    <button mat-raised-button color="warn" (click)="openAllTeams()"><mat-icon>border_all</mat-icon>View All</button>
</div>