<ng-container *ngIf="isLoading; else showLogin">
</ng-container>
<ng-template #showLogin>

    <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
        <div fxLayoutAlign="center" class="login-header" translate>APP_NAME</div>
        <div class="login-container" fxLayout="row" fxLayoutAlign="center">
            <mat-card fxFlex="90%" fxFlex.sm="86%" fxFlex.md="60%" fxFlex.gt-md="60%" class="login-box">
                <div class="social-login login-group">
                    <div class="button-group facebook">
                        <button mat-raised-button (click)="loginWithFacebook()">
                                <img src="../../assets/facebook.png" class="button-img" />
                                <span class="button-text">
                                        Login with Facebook
                                </span>
                            </button>
                    </div>
                    <div class="button-group google">
                        <button mat-raised-button (click)="loginWithGoogle()">
                            <img src="../../assets/google.png" class="button-img" />
                            <span class="button-text">
                                    Login with Google
                            </span>
                        </button>
                    </div>
                </div>
                <div class="or-divider">or</div>
                <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate class="email-login">
                    <div class="login-error" [hidden]="!error || isLoading" translate>
                        Email or password incorrect.
                    </div>
                    <br/>
                    <div fxLayout="column">
                        <mat-form-field>
                            <input type="text" matInput formControlName="username" [placeholder]="'Email'" />
                            <mat-error *ngIf="loginForm.value.username.valid || loginForm.value.username.untouched">
                                <span translate>Email is required</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="password" matInput formControlName="password" [placeholder]="'Password'" required/>
                            <mat-error *ngIf="loginForm.value.password.valid || loginForm.value.password.untouched">
                                <span translate>Password is required</span>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
                            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                            <span translate>Login</span>
                        </button>
                        <div class="signup-link">
                            Not a member? <a (click)="signUp()" class="extra-link">Sign up</a>
                        </div>
                        <div class="forgot-link">
                            <a (click)="forgotPassword()" class="extra-link">Forgot password?</a>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</ng-template>