<form [formGroup]="signupForm" (ngSubmit)="signup()" class="signup-form">
    <div class="form-title">New User Signup</div>
    <div fxLayout="column">
        <mat-form-field>
            <input type="text" matInput formControlName="email" [placeholder]="'Email'" />
            <mat-error *ngIf="email.invalid && email.dirty">
                <span translate>Valid email is required</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="password" [placeholder]="'Password'" required/>
            <mat-error *ngIf="password.invalid && password.touched">
                <span translate>
                    Password must be between 6 and 24 chars and have at least one number
                </span>
            </mat-error>
        </mat-form-field>
        <button class="create-button" mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
            <span translate>Create Account</span>
        </button>
    </div>
</form>