@import "src/theme/theme-variables";
:host {
    display: flex;
    flex: 1;
    background-color: #f5f5f5;
}

.inline-loader {
    display: inline-block;
}

.signup-link,
.forgot-link {
    width: 100%;
    text-align: center;
    color: gray;
    font-family: Montserrat;
    font-size: 12px;
    margin-top: 5px;
    a.extra-link {
        color: #34add4;
        cursor: pointer;
        font-family: Montserrat;
        font-size: 12px;
    }
}

.login-header {
    font-family: Montserrat;
    margin-top: 32px;
    font-weight: 900;
    font-size: 30px;
    color: darkslategray;
}

.version {
    margin: 0;
}

.login-container,
.mat-form-field {
    width: 100%;
}

.login-error {
    color: mat-color($app-warn);
}

.login-box {
    display: grid;
    grid-template-columns: 45% 8% 45%;
    align-items: center;
}

.or-divider {
    font-weight: 500;
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
}

.email-login {
    height: 100%;
    padding: 8px;
    border: solid 1px lightgray;
}

.login-group {
    height: 100%;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    .button-group {
        margin: 3%;
        width: 94%;
        .button-img {
        }
        .button-text {
            font-family: Montserrat;
        }
    }
}

.social-login {
    .google {
        button {
            background-color: rgba(225, 77, 58, .88);
            color: white;
        }
    }
    .facebook {
        button {
            background-color: rgba(50, 77, 136, .80);
            color: white;
        }
    }
    .button-group {
        button {
            width: 100%;
            padding: 10px;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}