<div class="title-header"> League Members </div>
<ol class="names-list" >
    <li class="name-item" *ngFor="let user of users; let i=index">
        <span> {{ user.name }} </span>
        <button mat-mini-fab color="warn" (click)="removeDrafter(i)"><mat-icon>remove</mat-icon></button>
    </li>
</ol>