<div class="wrestler" *ngIf="GetTopWrestler(); let wrestler; else topBlank" [ngClass]="{'match-winner': match.winner==='top'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">{{wrestler.seed}}</span>
    <span class="wrestler-link">
        <app-wrestler-link class="{{linkClass}}" [id]="wrestler.global_pid">{{wrestler.last_name}}</app-wrestler-link>
    </span>
</div>
<ng-template #topBlank>
    <div class="wrestler"></div>
</ng-template>

<div class="wrestler right-border" *ngIf="GetBottomWrestler(); let wrestler; else bottomBlank" [ngClass]="{'match-winner': match.winner==='bottom'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">{{wrestler.seed}}</span>
    <span class="wrestler-link">
        <app-wrestler-link class="{{linkClass}}" [id]="wrestler.global_pid">{{wrestler.last_name}}</app-wrestler-link>
    </span>
</div>
<ng-template #bottomBlank>
    <div class="wrestler right-border"></div>
</ng-template>