$font-stack: proxima-nova,
proxima-nova-1,
proxima-nova-2,
"Proxima Nova",
arial,
helvetica,
sans-serif;
.wrestler {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 30% 70%;
    align-items: end;
    border-bottom: 1px solid #000;
    padding-right: 10px;
    .seed {
        font-size: 12px;
        color: #999;
        text-align: left;
        transition: .2s;
        padding-left: 5px;
    }
    .wrestler-link {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .hidden {
        visibility: hidden;
    }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .wrestler {
        padding-right: 0;
        grid-gap: 1px;
        grid-template-columns: 15% 85%;
        .seed {
            font-size: 10px;
        }
        .wrestler-link {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 519px) {
    .wrestler {
        padding-right: 0;
        grid-gap: 0;
        grid-template-columns: 0% 100%;
        .seed {
            visibility: hidden;
        }
        .wrestler-link {
            font-size: 9px;
            text-overflow: clip;
        }
    }
}

.right-border {
    border-right: solid 1px;
}