.weight {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    font-family: Montserrat;
    background-color: #f8ab40;
}

.wrestler-card {
    margin: 3px 3px;
    padding: 0;
    height: 40px;
    max-width: 100%;
    overflow: hidden;
    .name {
        // overflow: hidden;
        // white-space: nowrap;
        font-family: Montserrat;
        .rank {
            font-size: 12px;
            font-weight: 100;
        }
        .first-name {
            font-size: 10px;
            font-weight: 100;
        }
        .last-name {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .team {
        font-family: Montserrat;
        font-size: 12px;
    }
}

.selected {
    background-color: #c7c7c7;
}