<div class="weight"><button mat-raised-button color="warn">{{ weight }}</button></div>

<ng-container  *ngFor="let wrestler of wrestlers | values; let i = index">
    <ng-container *ngIf="$selectedWrestlers | async as selectedWrestlers">
        <mat-card class="wrestler-card" [ngClass]="{'selected': selectedWrestlers[wrestler.wrestler_id] } " (click)="select.emit(wrestler)">
            <mat-card-content>
                <div class="name">
                    <span class="rank">{{ i + 1 }}</span>
                    <span class="last-name">{{ wrestler?.last_name }}</span>
                    <span class="first-name">, {{ wrestler?.first_name }}</span>
                </div>
                <div class="team">
                    {{ wrestler?.team }}
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>