.dashboard-card {
    padding: 0;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.container {
    border: #c7c7c7 solid 1px;
    display: grid;
    grid-template-rows: 80% 20%;
    text-align: center;
    font-family: Montserrat;
    align-items: stretch;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    .grid-name {
        width: 100%;
        height: 100%;
        text-align: left;
        grid-column: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: pre-wrap;
    }
    .grid-score {
        text-align: center;
        grid-column: 2;
        padding: 10px;
        justify-self: end;
        align-self: center;
        font-family: Montserrat;
        font-size: 24px;
    }
}

.is-me {
    background-color: #ededed;
}