<section class="container" [ngClass]="{'is-me': draftUser.key === ($myUserKey | async)}">
    <div class="grid-name">
        <app-league-team-link class="font-22" [teamId]="draftUser?.id">{{ draftUser?.name }}</app-league-team-link>
    </div>
    <div class="grid-score">
        {{ draftUser?.teamScore }}
    </div>
</section>