<mat-card class="dashboard-card">
    <mat-toolbar color="primary">
        <span>Team Standings</span>
    </mat-toolbar>
    <!-- </mat-card-title>
    </mat-card-header> -->
    <mat-card-content class="flex-container">
        <ng-container *ngFor="let draftUser of ($draftUsers | async)">
            <app-team-points-summary [draftUser]="draftUser"></app-team-points-summary>
        </ng-container>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>