.team-link {
    color: #465277;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    cursor: pointer;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
}

:host.font-11 .team-link {
    font-size: 11px;
    font-family: Roboto;
}

:host.font-12 .team-link {
    font-size: 12px;
    font-family: Roboto;
}

:host.font-13 .team-link {
    font-size: 13px;
    font-family: Roboto;
}

:host.font-14 .team-link {
    font-size: 14px;
    font-family: Roboto;
}

.team-link:hover {
    color: #749ee0;
    text-decoration: underline;
}