.wrestler-card {

    ::ng-deep .mat-dialog-container, .mat-card {
        padding: 0;
    }
    ::ng-deep .mat-card-header {
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        color: white;
        background: #2196f3
    }
    ::ng-deep .mat-card-title {
        font-size: 20px !important;
        margin-bottom: 7px;
        font-weight: 700;
        text-shadow: black 1px 1px;
    }
    
    ::ng-deep .mat-card-subtitle {
        font-size: 14px;
        color: #ffffff;
        margin-top: -6px !important;
        font-weight: 200;
        margin-left: 9px;
        text-transform: capitalize;
    }
    ::ng-deep .mat-card-header-text {
        margin: 5px 0 0 10px!important;
    }
    ::ng-deep .tab-wrestler-info-type{
        ::ng-deep .mat-tab-label {
           min-width: 50%;
       }
   }
   
}


.year-breakdown{
    margin-bottom: 10px;
    border-bottom: solid 1px #444;
    ::ng-deep .mat-subheader {
        font-size: 18px !important;
        font-weight: 300 !important;
        margin: 0;
        padding :5px;
    }
    .extra-details {
        margin-left: 63px;
        margin-bottom: 10px;
        margin-top: -5px;
        font-size: 12px;
        font-weight:400;
    }
    .team-points{
        font-size: 14px;
        font-weight: 500;
        color: #615f5f;
    }
}

.header-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    // box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    color: #737373;
    text-shadow: #fbf9f9 1px 1px 0px;
    background: #ffe344;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 34px;
    font-weight: 400;
    padding-top: 7px;
    margin: 5px 10px 5px 5px;
}
.year-details {
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: 400;
}
.points {
    font-size: 12px;
    font-weight: 400;
    padding-left: 25px;
    color: #808080;
    padding-bottom: 14px;
}
.match-container {
    border-top: solid 1px #999;    
    display: grid;
    grid-column-gap: 1%;
    align-items:center;
    height: 40px;
    grid-template-columns: 10% 85%;

    .win-icon, .loss-icon {
        height: 21px;
        width: 21px;
        border-radius: 50%;
        font-size: 15px;
        font-weight: 400;
        margin: 3px 9px;
    }
    .win-icon {
        background: #2296f3;
        color: #ffffff;
        padding: 2px 4px;
    }
    .loss-icon {
        background: #ff5050;
        color: white;
        padding: 2px 7px;
    }
    .match-string {
        font-size: 11px;
        .winner {
        }
        .decision {
            font-weight: 200;
        }
    }
    
}