<div class="wrestler-card">

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="header-image" *ngIf="NumberOfAllAmericans() > 0">AA</div>
            <mat-card-title>
                <span *ngIf="info?.seed <=16">{{info?.seed}}</span>
                <span class="name">{{wrestler.first_name}} {{wrestler.last_name}} </span>
                <span class="weight">({{info?.weight}})</span>
            </mat-card-title>
            <mat-card-subtitle>
                {{info?.team}} {{info?.wins}}-{{info?.losses}}
                <span *ngIf="info?.grade > 0">{{info?.grade | gradeText}} </span>
            </mat-card-subtitle>
            <mat-icon mat-close-icon></mat-icon>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group class="tab-wrestler-info-type" [(selectedIndex)]="selectedIndex">
                <mat-tab label="Team Points">
                    <div class="year-breakdown" *ngFor="let year of wrestler.years | keys : 'desc'">
                        <h2 mat-subheader>
                            {{year}}
                            <span class="year-details" *ngIf="wrestler.years[year].placement>0">
                                All American ({{wrestler.years[year].placement | ordinal}} at {{wrestler.years[year].info?.weight}})
                            </span>
                            <span class="year-details" *ngIf="wrestler.years[year].placement==0">
                                {{NumberOfWins(year)}} wins at {{wrestler.years[year].info?.weight}}
                            </span>
                        </h2>
                        <div class="extra-details">
                            <span class="name">{{wrestler.last_name}} </span>
                            <span class="record">{{wrestler.years[year].info?.wins}}-{{wrestler.years[year].info?.losses}}</span>
                            <span *ngIf="wrestler.years[year].info?.seed <=16">{{wrestler.years[year].info?.seed | ordinal}} seed</span>
                            <span class="info" *ngIf="info?.team !== wrestler.years[year].info?.team">{{wrestler.years[year].info?.team}}</span>
                        </div>
                        <div class="points">
                            <span class="team-points">Points {{wrestler.years[year].points.total_points}} = </span>
                            <span>{{wrestler.years[year].points.advancement_points}} (adv) + </span>
                            <span>{{wrestler.years[year].points.placement_points}} (place) + </span>
                            <span>{{wrestler.years[year].points.pin_points}} (pin)</span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Matches">
                    <div class="year-breakdown" *ngFor="let year of wrestler.years | keys : 'desc'">
                        <h2 mat-subheader>
                            {{year}}
                            <span class="year-details" *ngIf="wrestler.years[year].placement>0">
                                All American ({{wrestler.years[year].placement | ordinal}} at {{wrestler.years[year].info?.weight}})
                            </span>
                            <span class="year-details" *ngIf="wrestler.years[year].placement==0">
                                {{NumberOfWins(year)}} wins at {{wrestler.years[year].info?.weight}}
                            </span>
                        </h2>
                        <div class="extra-details">
                            <span class="name">{{wrestler.last_name}} {{infoYear}} {{year}} </span>
                            <span class="record">{{wrestler.years[year].info?.wins}}-{{wrestler.years[year].info?.losses}}</span>
                            <span *ngIf="wrestler.years[year].info?.seed <=16">{{wrestler.years[year].info?.seed | ordinal}} seed</span>
                            <span class="info" *ngIf="info?.team !== wrestler.years[year].info?.team">{{wrestler.years[year].info?.team}}</span>
                        </div>
                        <div [ngClass]="'match-container'" *ngFor="let match of wrestler.years[year].matches">
                            <div class="win-icon" *ngIf="id==match.winner.pid"> W</div>
                            <div class="loss-icon" *ngIf="id==match.loser.pid">L</div>
                            <div class="match-string">
                                <div class="top-string">
                                    <span class="round"> {{ match.round }} </span>
                                </div>
                                <div class="bottom-string">
                                    <span class="winner">
                                        <span *ngIf="id==match.winner.pid">{{match.winner.last_name}}</span>
                                    <span *ngIf="id==match.loser.pid" class="wrestler-link">
                                            <app-wrestler-link class="font-11" [goToMatches]="true" [id]="match.winner.pid">
                                                {{match.winner.first_name}} {{match.winner.last_name}}
                                            </app-wrestler-link>
                                        </span>
                                    </span>
                                    <span class="decision">
                                        {{match.decision}} over
                                    </span>
                                    <span class="loser">
                                        <span *ngIf="id==match.loser.pid">{{match.loser.last_name}}</span>
                                    <span *ngIf="id==match.winner.pid" class="wrestler-link">
                                            <app-wrestler-link class="font-11" [goToMatches]="true" [id]="match.loser.pid">
                                                {{match.loser.first_name}} {{match.loser.last_name}}
                                            </app-wrestler-link>
                                        </span>
                                    </span>
                                    <span class="score">({{ match.decision_detail }})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>