<div class="container" [ngSwitch]="bracketType">
    <div class="region region-champ" *ngSwitchCase="0">
        <section class="round round{{round}}" *ngFor="let round of rounds">
            <article [ngSwitch]="round" class="game" *ngFor="let match of bracket?.rounds[round].matches">
                <app-matchup *ngSwitchCase="0" [match]="match"></app-matchup>
                <app-simple-matchup *ngSwitchDefault [match]="match"></app-simple-matchup>
            </article>
        </section>
        <section class="round round-final">
            <article class="game">
                <div class="wrestler" *ngIf="getWinner(); let winner; else finalBlank">
                    <span class="seed" [ngClass]="{'hidden': winner.seed > 16}">{{winner.seed}}</span>
                    <span class="wrestler-link">
                        <app-wrestler-link class="font-14" [id]="winner.global_pid"><span class="first-name">{{winner.first_name}}</span>{{winner.last_name}}</app-wrestler-link>
                    </span>
                </div>
                <ng-template #finalBlank>
                    <div class="wrestler"></div>
                </ng-template>
            </article>
        </section>
    </div>
    <div class="region region-conso" *ngSwitchCase="1">
        <section class="round round{{round}}" *ngFor="let round of consoRounds">
            <article [ngSwitch]="round" class="game-conso" *ngFor="let match of bracket?.consoRounds[round].matches">
                <app-matchup *ngSwitchCase="0" [match]="match"></app-matchup>
                <app-simple-matchup *ngSwitchDefault [match]="match" [isReverse]="round==5"></app-simple-matchup>
            </article>
        </section>
        <section class="round round-final">
            <article class="game">
                <div class="wrestler" *ngIf="getConsoWinner(); let winner">
                    <span class="seed" [ngClass]="{'hidden': winner.seed > 16}">{{winner.seed}}</span>
                    <span class="wrestler-link">
                        <app-wrestler-link class="font-13" [id]="winner.global_pid">{{winner.last_name}}</app-wrestler-link>
                    </span>
                </div>
            </article>
        </section>
    </div>
    <div class="region region-finals" *ngSwitchDefault>
        <section>
            <app-all-americans class="all-americans" [wrestlers]="getAllAmericans()"></app-all-americans>
        </section>
        <section class="round round0">
            <article class="game-final" *ngFor="let match of bracket?.finalMatches">
                <app-matchup linkClass="font-12" [match]="match"></app-matchup>
            </article>
        </section>
        <section class="round round-final">
            <article class="game-final" *ngFor="let match of bracket?.finalMatches; let i = index">
                <div class="wrestler" *ngIf="getPlacementWinner(match); let winner">
                    <span class="seed" [ngClass]="{'hidden': winner.seed > 16}">{{winner.seed}}</span>
                    <span class="wrestler-link">
                        <app-wrestler-link class="font-14" [id]="winner.global_pid"><span class="first-name">{{winner.first_name}}</span>{{winner.last_name}}</app-wrestler-link>
                    </span>
                </div>
                <div class="placement">
                    <span class="placement">{{getPlacementText(i)}}</span>
                </div>
            </article>
        </section>
    </div>
</div>