.region-champ {
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 15% 15%;
}

.region-conso {
    display: grid;
    grid-template-columns: 23% 11% 11% 11% 11% 11% 11% 11%;
}

.region-finals {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding-right: 5%;
}

.round {}

.container {}

.round:after,
.region:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}

.region-champ {
    .round0 {
        padding-left: 8px;
    }
     ::ng-deep .round0 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 18px;
        }
         ::ng-deep .wrestler {
            height: 18px;
        }
    }
     ::ng-deep .round1 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 27px;
        }
         ::ng-deep .wrestler {
            height: 36px;
        }
    }
     ::ng-deep .round2 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 45px;
        }
         ::ng-deep .wrestler {
            height: 72px;
        }
    }
     ::ng-deep .round3 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 81px;
        }
         ::ng-deep .wrestler {
            height: 144px;
        }
    }
     ::ng-deep .round4 {
         ::ng-deep .game:nth-child(1) .wrestler:nth-child(1) {
            height: 153px;
        }
         ::ng-deep .wrestler {
            height: 288px;
        }
    }
     ::ng-deep .round-final {
         ::ng-deep .wrestler {
            height: 297px;
        }
    }
}

.region-conso {
    .round0 {
        padding-left: 8px;
    }
     ::ng-deep .round0 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 50px;
        }
         ::ng-deep .wrestler {
            height: 28px;
        }
    }
     ::ng-deep .round1 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 36px;
        }
         ::ng-deep .wrestler {
            height: 28px;
        }
    }
     ::ng-deep .round2 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 50px;
        }
         ::ng-deep .wrestler {
            height: 56px;
        }
    }
     ::ng-deep .round3 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 18px;
        }
         ::ng-deep .wrestler {
            height: 56px;
        }
    }
     ::ng-deep .round4 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 46px;
        }
         ::ng-deep .wrestler {
            height: 112px;
        }
    }
     ::ng-deep .round5 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 102px;
        }
         ::ng-deep .wrestler {
            height: 112px;
        }
    }
     ::ng-deep .round6 {
         ::ng-deep .game-conso:nth-child(1) .wrestler:nth-child(1) {
            height: 158px;
        }
         ::ng-deep .wrestler {
            height: 224px;
        }
    }
     ::ng-deep .round-final {
         ::ng-deep .wrestler {
            height: 270px;
        }
    }
}

.region-finals {
    .placement {
        font-size: 12px;
        font-weight: 200;
        text-align: center;
    }
     ::ng-deep .round0 {
        padding-top: 15px;
        padding-left: 3%;
         ::ng-deep .game-final:nth-child(1) .wrestler:nth-child(1) {
            height: 31px;
        }
         ::ng-deep .wrestler {
            height: 36px;
        }
    }
     ::ng-deep .round-final {
         ::ng-deep .game-final:nth-child(1) .wrestler:nth-child(1) {
            padding-top: 45px;
        }
         ::ng-deep .wrestler {
            padding-top: 38px;
        }
    }
}

.all-americans {
     ::ng-deep .mat-card {
        max-width: 240px;
        margin-left: auto;
    }
}

.wrestler {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 80%;
    align-items: end;
    border-bottom: 1px solid #000;
    padding-right: 10px;
    .seed {
        font-size: 12px;
        color: #999;
        text-align: left;
        transition: .2s;
        padding-left: 5px;
    }
    .wrestler-link {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .hidden {
        visibility: hidden;
    }
    .first-name {
        padding-right: 2px;
    }
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .wrestler {
        padding-right: 0;
        grid-gap: 1px;
        grid-template-columns: 15% 85%;
        .seed {
            font-size: 10px;
        }
        .wrestler-link {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 519px) {
    .region-finals {
        grid-template-columns: 47% 30% 23%;
    }
    .wrestler {
        padding-right: 0;
        grid-gap: 0;
        grid-template-columns: 0% 100%;
        .seed {
            visibility: hidden;
        }
        .first-name {
            display: none;
        }
        .wrestler-link {
            font-size: 9px;
            text-overflow: clip;
        }
    }
}