:host {
  font-family: Montserrat;
  font-size: 14px;
}

.header {
  text-align: center;
  padding: 10px;
  background-color: #f8ab40;
}
.content {
  text-align: center;
}

.bottom-row {
  padding: 10px;
  text-align: center;
}