<div class="header" mat-dialog-title>{{title}}</div>
<div class="content">
  <p> {{ question }} </p>
</div>
<div class="bottom-row">
  <button mat-raised-button color="warn" (click)="close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="close(true)" cdkFocusInitial>Ok</button>
</div>