.summary-card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 28px 18px 18px;
    grid-auto-flow: column;
    border: solid 1px #c7c7c7;
    .title-header {
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        padding: 10px;
    }
    .item-weight {
        font-family: Montserrat;
        font-size: 20px;
        grid-column: 1;
        grid-row: 1/3;
        align-self: self-start;
    }
    .item-list {
        font-family: Montserrat;
        font-size: 18px;
        grid-column: 2;
        align-self: center;
    }
    .item-list-small {
        font-family: Montserrat;
        font-size: 14px;
        grid-column: 2;
    }
}