<div class="summary-card">
    <div class="title-header item-weight">
        <button mat-raised-button color="warn" (click)="bracketSelect.emit()">
            {{ wrestler.weight }}
        </button>
    </div>
    <div class="item-list">
        <span class="rank">{{ wrestler?.seed }}</span>
        <span class="name">
            <app-league-wrestler-link [id]="wrestlerId" class="font-16">
                {{ wrestler?.first_name }} {{ wrestler?.last_name }}
            </app-league-wrestler-link>            
        </span>
        <span class="score" *ngIf="$isDraftComplete | async">
            ({{ wrestlerScore  }} pts)
        </span>
    </div>
    <div class="item-list-small">
        <span class="school">{{ wrestler?.team }}</span>
    </div>
    <div class="item-list-small">
        <span class="record">{{ wrestler?.wins }} - {{ wrestler?.losses }}</span>
    </div>
</div>