$font-stack: proxima-nova,
proxima-nova-1,
proxima-nova-2,
"Proxima Nova",
arial,
helvetica,
sans-serif;
.wrestler {
    display: grid;
    grid-gap:1%;
    grid-template-columns: 8% 50% 27% 15%;
    align-items: end;
    height: 18px;
    border-bottom: 1px solid #000;
    padding-right: 10px;
    .seed {
        font-size: 10px;
        color: #999;
        text-align: left;
        transition: .2s;
    }
    .hidden {
        visibility: hidden;
    }
    .wrestler-link {
        text-align: left;
        font-family: Montserrat;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .selected { 
        text-decoration: line-through;
        font-size: 8px;
        ::ng-deep .wrestler-link {
            color: #f8ab40;            
        }
    }
    .owner {
        white-space: nowrap;
        overflow: hidden;
        color: #607d8b;
    }
    .record {
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .school {
        font-weight: 300;
        font-size: 12px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        &:empty {
            display: none;
        }
    }
}

.right-border {
    border-right: solid 1px;
}