<div class="wrestler" *ngIf="match?.topWrestler; let wrestler" [ngClass]="{'match-winner': match.winner==='top'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">({{wrestler.seed}})</span>
    <ng-container *ngIf="getSelectedBy(wrestler.global_pid, $selectedWrestlers | async) as selectedBy">
        <span class="wrestler-link" [ngClass]="{'selected':  selectedBy !== 'unowned'}">
            <app-league-wrestler-link class="{{linkClass}}" [id]="wrestler?.global_pid">
                {{wrestler.first_name}} {{wrestler.last_name}}
            </app-league-wrestler-link>
        </span>
        <ng-container *ngIf="selectedBy !== 'unowned'; else showTeam">
            <span class="owner">
                {{ selectedBy }}
            </span>
        </ng-container>
        <ng-template #showTeam>
            <span class="school">
                {{wrestler.team}}                
            </span>
        </ng-template>
        <span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
    </ng-container>
</div>

<div class="wrestler right-border" *ngIf="match?.bottomWrestler; let wrestler" [ngClass]="{'match-winner': match.winner==='bottom'}">
    <span class="seed" [ngClass]="{'hidden': wrestler.seed > 16}">({{wrestler.seed}})</span>
    <ng-container *ngIf="getSelectedBy(wrestler.global_pid, $selectedWrestlers | async) as selectedBy">
        <span class="wrestler-link" [ngClass]="{'selected':  selectedBy !== 'unowned'}">
            <app-league-wrestler-link class="{{linkClass}}" [id]="wrestler?.global_pid">
                {{wrestler.first_name}} {{wrestler.last_name}}
            </app-league-wrestler-link>
        </span>
        <ng-container *ngIf="selectedBy !== 'unowned'; else showTeam">
            <span class="owner">
                {{ selectedBy }}
            </span>
        </ng-container>
        <ng-template #showTeam>
            <span class="school">
                {{wrestler.team}}                
            </span>
        </ng-template>
        <span class="record">{{wrestler.wins}}-{{wrestler.losses}}</span>
    </ng-container>
</div>